<div>
    <div class="card col-sm-6 mb-4 mx-auto">
        <div class="card-header">
            <div class="d-flex">
                <img style="width:135px; height:130px" class="d-flex justify-content-end" src="<%= @user.photo %>" />
                <h5 class="mx-5 pt-5"><%= @user.name %></h5>
            </div>
            <p class="card-title d-flex justify-content-end top-0">Post count:
                <%= @user.posts.count %>
            </p>
        </div>
        <div class="card-body">
            <h4 class="pb-4">Biography:</h4>
            <p>
                <%= @user.bio %>
            </p>
        </div>
    </div>

    <div>
      <h3 class="col-sm-6 mx-auto">Posts</h3>
        <% @user.recent_posts.each do |post| %>
        <div class="card col-sm-6 mb-4 mx-auto">
            <div class="card-header">
            <p>Post number: <%= post.id %></p>
            <h5><%= link_to post.title, user_post_path(@user, post) %></h5>
            </div>
            <div class="card-body">
                <p>
                <%= post.text %>
                </p>
            </div>
            <div class="d-flex justify-content-end">
                <p>View Comments:
                    <%= post.comments_counter  %>
                </p>
                <p class="px-5">Likes:
                    <%= post.likes_counter %>
                </p>
            </div>
        </div>
        <% end %>
    </div>

    <div class="d-grid gap-2">
        <%= link_to 'See All Posts', user_posts_path(@user), class: "mx-auto btn btn-primary mb-5 btn-lg" %>
    </div>
</div>
