<div>
    <div class="card col-sm-8 mb-4 mx-auto">
        <div class="card-header d-flex">
          <img style="width:135px; height:130px" src="<%= @user.photo %>" />
          <h5 class="mx-5 mt-5"><%= @user.name %>
            <p class="position-absolute end-0 mx-4">POST COUNT:
            <%= @user.posts.count %>
            </p>
    </div>
        
    </div>

    <% @posts.each do |post, i| %>
    <% comments = post.recent_comments %>
    <div class="card col-sm-8 mb-4 mx-auto">
        <div class="card-header d-flex">
           <%= link_to post.title, user_post_path(@user, post)  %>
        </div>
        <div class="card-body">
            <p class="card-title d-flex justify-content-end">
            <%= post.text %>
            </p>
        </div>
        <div class="d-flex justify-content-end">
                 <p>Delete Post:
                    <%= button_to 'Delete Post', user_post_path(@user, post), method: :delete   %>
                </p>
                <p>Comments:
                    <%= post.comments.count  %>
                </p>
                <p class="px-5">Likes:
                    <%= post.likes.count %>
                </p>
        </div>
    </div>
    <div>
    <% comments.each do |comment| %>
        <div class="card mb-4 col-sm-4 mx-auto">
          <h4 class="card-title">
             <%= comment.author.name %>
          </h4>
          <p class="card-body">
             <%= comment.text %>
          </p>
        </div>
    <% end %>
    </div>
        <% end %>

    <div class="d-grid gap-2">
        <%= link_to 'Pagination', user_posts_path(@user), class: "mx-auto btn btn-primary mb-5 btn-lg" %>
    </div>
</div>


