<div>
    <div class="card col-sm-8 mb-4 mx-auto">
        <div class="card-header d-flex">
            <%= @user.photo %>
            <%= @user.name %>
        </div>
        <div class="card-body">
            <h5 class="card-title d-flex justify-content-end">POST COUNT:
            <%= @user.posts_counter %>
            </h5>
        </div>
    </div>

    <% @posts.each do |post| %>
    <div class="card col-sm-8 mb-4 mx-auto">
        <div class="card-header d-flex">
            <%= post.title %>
        </div>
        <div class="card-body">
            <p class="card-title d-flex justify-content-end">
            <%= post.text %>
            </p>
        </div>
    </div>
        <% end %>
</div>


