<div class="card">
    <h4>Post Number: <%= @post.id  %></h4>
    <h4>Post by: <%= @post.author.name  %> Post Title: <%= @post.title %> </h4>
    <h4>Number of comments: <%= @comments.count  %></h4>
    <h4>Number of Likes: <%= @post.likes.count  %></h4>
    <p> <%= @post.text  %></p>
    
    <div>
      <%= link_to 'Add Comment', new_user_post_comment_path(@user, @post) %>
       <%= form_with model: Like.new, url: user_post_likes_path(@user, @post) do |form| %>
         <% form.submit :Like,  class:"btn btn-primary"%>
       <% end %>
    </div>

    <div class="card">
    <% comments = @post.recent_comments%>
     <% comments.each do |comment| %>
        <div class="card mb-4 col-sm-4 mx-auto">
          <h4 class="card-title">
             <%= comment.author.name %>
          </h4>
          <p class="card-body">
             <%= comment.text %>
          </p>
        </div>
    <% end %>
    </div>
</div>
